<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mika Za</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mika Za</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://cdn-icons-png.freepik.com/512/1077/1077063.png" alt="User Icon" style="width: 30px; height: 30px;">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/cerrarSesion">Cerrar Sesión</a>
                    <a class="dropdown-item" href="/politicaCancelacion">Política de Cancelación</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <div class="text-center">
        <h1>Bienvenido a Mika Za</h1>
        <p>Encuentra los mejores inmuebles para tu estancia</p>
        <a href="/api/inmuebles/buscar" class="btn btn-primary">Buscar Inmuebles</a>
    </div>
    <div class="mt-5">
        <h3>Algunos de nuestros inmuebles destacados:</h3>
        <div class="row">
            <!-- Repite este bloque para cada inmueble destacado -->
            <div th:each="inmueble : ${inmuebles}" class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img th:src="${inmueble.imagenUrl}" class="card-img-top" alt="Imagen del Inmueble">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${inmueble.nombre}">Nombre del Inmueble</h5>
                        <p class="card-text" th:text="'Precio por Noche: ' + ${inmueble.precioPorNoche}">Precio por Noche</p>
                        <a th:href="'/detalle/' + ${inmueble.id}" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
            <!-- Fin del bloque -->
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
