<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Políticas de Cancelación</title>
    <style>
        .policy-container {
            margin: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<h1>Políticas de Cancelación</h1>
<div class="policy-container">
    <p>Comprender las políticas de cancelación es crucial antes de realizar una reserva. Aquí están los detalles de nuestras políticas:</p>
    <ul>
        <li><strong>Más de 24 horas de antelación:</strong> Si cancelas tu reserva más de 24 horas antes de la fecha de llegada, recibirás un reembolso del 100%.</li>
        <li><strong>Dentro de las 24 horas:</strong> Las cancelaciones hechas dentro de las 24 horas previas a la fecha de llegada resultarán en un reembolso del 80%.</li>
        <li><strong>En la fecha de ingreso:</strong> Cancelar en la fecha de ingreso al inmueble conlleva a un reembolso del 60%.</li>
    </ul>
</div>
</body>
</html>
