<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mis Reservas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mika Za</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://cdn-icons-png.freepik.com/512/1077/1077063.png" alt="User Icon" style="width: 30px; height: 30px;">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/cerrarSesion">Cerrar Sesión</a>
                    <a class="dropdown-item" href="#" id="politicasBtn">Política de Cancelación</a>
                    <a class="dropdown-item" href="/usuario/reservas">Administrar Reservas</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h1>Mis Reservas</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Inmueble</th>
                <th>Fecha de Llegada</th>
                <th>Fecha de Salida</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reserva : ${reservas}">
                <td th:text="${reserva.idReserva}">ID</td>
                <td th:text="${reserva.inmueble.nombre}">Inmueble</td>
                <td th:text="${reserva.fechaLlegada}">Fecha de Llegada</td>
                <td th:text="${reserva.fechaSalida}">Fecha de Salida</td>
                <td th:text="${reserva.estadoReserva}">Estado</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center mt-4">
        <a href="/index" class="btn btn-primary">Volver al Inicio</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
