<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .toggle-password {
          cursor: pointer;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Mika Za</a>
        </div>
    </div>
</nav>
<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Restablecer Contraseña</h1>
            <form th:action="@{/restablecerContrasena}" method="post">
                <input type="hidden" name="token" th:value="${token}">
                <div class="form-group">
                    <label for="clave">Nueva Contraseña:</label>
                    <div class="input-group">
                        <input type="password" id="clave" name="clave" class="form-control" required placeholder="Digite su nueva contraseña">
                        <span class="input-group-addon toggle-password">
              <i class="glyphicon glyphicon-eye-open"></i>
            </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmarClave">Confirmar Contraseña:</label>
                    <input type="password" id="confirmarClave" name="confirmarClave" class="form-control" required placeholder="Confirme su nueva contraseña">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <button type="submit" class="form-control btn btn-primary">Restablecer Contraseña</button>
                        </div>
                    </div>
                </div>
            </form>
            <div th:if="${mensaje}" class="alert alert-info" th:text="${mensaje}"></div>
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
      $('.toggle-password').mousedown(function() {
        $('#clave').attr('type', 'text');
      }).mouseup(function() {
        $('#clave').attr('type', 'password');
      }).mouseout(function() {
        $('#clave').attr('type', 'password');
      });
    });
</script>
</body>
</html>